
body {
    margin: 0;
    font-family: "Inter", Arial, sans-serif;
    background: #F4F6FA;
    color: #1e1e1e;
}

h1, h2, h3 {
    font-weight: 600;
}


.container {
    margin-left: 260px;
    padding: 30px;
}


.card {
    background: #fff;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}


.menu-lateral {
    width: 230px;
    height: 100vh;
    background:  #000080; 
    color: #fff;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
}

.menu-lateral h2 {
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: 700;
}

.menu-lateral ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-lateral li {
    margin-bottom: 18px;
}

.menu-lateral a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 12px;
    display: block;
    border-radius: 8px;
    transition: 0.3s;
}

.menu-lateral a:hover {
    background:  #000080; 
}


table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
}

table th {
    background:  #000080;
    color: #fff;
    padding: 14px;
    font-size: 15px;
    font-weight: 600;
}

table td {
    padding: 12px;
    border-bottom: 1px solid #E5E7EB;
    background: #fff;
}

table tr:hover td {
    background: #F0F4FF; 
}


form {
    background: #fff;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
    width: 100%;
    max-width: 500px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #D1D5DB;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 15px;
    transition: border 0.3s;
}

input:focus {
    border-color:  #000080;
    outline: none;
}

label {
    font-weight: 600;
    margin-bottom: 4px;
    display: block;
}


button,
input[type="submit"] {
    background:  #000080;
    border: none;
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.25s;
    font-weight: 600;
}

button:hover,
input[type="submit"]:hover {
    background: #001B80;
    transform: scale(1.03);
}

a button {
    margin-right: 5px;
}
